/*************************
    Tailwind setup
**************************/

@import "tailwindcss";

@theme {
  --breakpoint-400px: 400px;
  --breakpoint-500px: 500px;
  --breakpoint-600px: 600px;
  --breakpoint-700px: 700px;
  --breakpoint-800px: 800px;
  --breakpoint-900px: 900px;
  --breakpoint-1000px: 1000px;
  --breakpoint-1100px: 1100px;
  --breakpoint-1200px: 1200px;
  --breakpoint-1300px: 1300px;
  --breakpoint-1400px: 1400px;
  --breakpoint-1500px: 1500px;
  --breakpoint-1600px: 1600px;
  --breakpoint-1700px: 1700px;
  --breakpoint-1800px: 1800px;
  --breakpoint-1900px: 1900px;
}

body {
  font-family: 'Manrope', sans-serif;
  @apply text-[14px] 800px:text-[16px];
}

.wrapper {
  @apply 800px:max-w-[90%] 1700px:max-w-[1544px] mx-auto px-3;
}

.custom-shadow {
  box-shadow: 0 0 30px 0 #EBEFF0;
}

.bg-gradient {
  background: linear-gradient(103.84deg, #E5FBEB 3.62%, #E9F7FD 50.63%, #EEFFF3 97%);
}

.button-gradient {
  background: linear-gradient(90deg, #00B430 0%, #00A8BB 100%);
}